<div class="d-flex justify-content-center">
<% if user_signed_in? && @task.user.id != current_user.id %>
<%= form_with model: [@task, @task.ratings.build] do |f| %>
  <p>
    <div class="form-group " id="star">
    <%= f.submit (t ".star_add"), class: "btn btn-primary" %> 
  </div>
  <p>
  <script>
  var ready;
 ready = function(){$('#star').raty({
    size     : 25,
    starOff:  '<%= asset_path('star-off.png', size:"25x25") %>',
    starOn : '<%= asset_path('star-on.png', size:"25x25") %>',
    scoreName: 'ratings[star]',
    half: false,
  });
 }
 $(document).ready(ready);
  $(document).on('page:load', ready);
  </script> 
<% end %> 
<% end %>
</div>