    <ul class="list-group list-group-horizontal-lg">
 <% tag_cloud(Tag.counts, %w{XS S M L XL}) do |tag, css_class| %>
        <li class="list-group-item"> <%= link_to tag.name, tag_path(tag.name), class: css_class %> </li>
      <% end %> 
      </ul>