<% @c=0 %>
 <% @task.answers.each do |answer| %>
      <% @task.taskuseranswers.each do |uanswer| %>
    <% if answer.name == uanswer.name && user_signed_in? && current_user.id == uanswer.user_id %>
      <div style="background-color:green; text-align:center; padding: 5px; color:#fff; margin-top:50px">  <h3> Complete </h3> </div>   
      <% @c+=1 %>
    <% end %>
    <% end %>
  <% end %>
<% if current_user && current_user.id != @task.user.id && @c<1 %>
<%= form_with model: [ @task, @task.taskuseranswers.build ] do |form| %>
  <p>
    <%= form.label "Answer" %><br>
    <%= form.text_field :name %> 
    <%= form.submit 'add', :class => 'btn btn-primary'%>
  </p>
<% end %>
<% end %>
