<div class="mx-auto">
<div class="d-flex justify-content-center align-items-center mt-4">
  <h2>Sign in</h2>
</div>
<div class="d-flex justify-content-center align-items-center" style="height: 100px;">
  <div class="p-2">
  <% resource_class.omniauth_providers.each do |provider| %>
  <%= link_to (image_tag("Social/#{OmniAuth::Utils.camelize(provider)}.png", 
  class: "img_class_goes_here", size: "50x50")), omniauth_authorize_path(resource_name, provider),
  method: :post %>  
  <%end%>
  </div>
</div>
  <div class="wrapper" style="height:500px;">
  <canvas id = "myChart">
  </canvas>
  </div>

 <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: <%= graf.keys.to_json.html_safe %>,
            datasets: [{
                label: '# of Votes',
                data: <%= graf.values.to_json.html_safe %>,
                backgroundColor: [
                    'blue',
                    'rgb(247, 131, 0)',
                    'green'
                ],
                borderColor: [
                    'black',
                    'black',
                    'black'
                ],
                borderWidth: 1
            }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
</div>