.XS
  font-size: 12px
  color: #FF3300
  text-decoration: none
.S
  font-size: 16px
  color: #ae00ff
  text-decoration: none
.M
  font-size: 20px
  color: #FF9900
  text-decoration: none
.L
  font-size: 24px
  color: #ff4800
  text-decoration: none
.XL
  font-size: 28px
  color: #336600
  text-decoration: none 

.list-group
  margin-top: 15px

